/* Reset + Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --boxcolor: #FB2E86;
    --textcolor: #0D0E43;
    --darkblue: #151875;
    --gray: #8A8FB9;
    --border: #eeefe6;
    --bg-footer: #EEEFFB;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* Utilities */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: calc(100% - 210px);
    margin: auto;
}

.df {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.gap15 {
    gap: 15px;
}
.txt-center{
    text-align: center;
}

.btn {
    outline: none;
    border: none;
    padding: 10px 32px;
    background-color: var(--boxcolor);
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}


header svg {
    display: none;
    width: 30px;
}
