/* Navbar */
.navbar {
    padding: 57px 0;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.navbar a {
    color: var(--textcolor);
}

.navbar .active {
    color: var(--boxcolor);
}
.active{
    color:var(--boxcolor);
}

.search form {
    display: flex;
    border: 1px solid var(--border);
}

.search input,
.search button {
    outline: none;
    border: none;
    text-align: center;
}

.search button {
    background-color: var(--boxcolor);
    padding: 5px;
    color: #fff;
}

.search img {
    padding: 5px 12px;
}

/* Mobile  */
@media screen and (max-width: 1070px) {
    .list,
    .search {
        display: none;
    }

    header svg {
        display: block;
    }
}

/* Main Section - Newsletter */
/* Footer */
.footer {
    background-color: var(--bg-footer);
    padding: 47px;
}

.footer .row {
    align-items: flex-start;
}

.footer .footer-item h2 {
    color: #000;
    font-size: 18px;
    margin-bottom: 20px;
}

.footer .footer-item a {
    color: var(--gray);
    font-size: 15px;
}

footer .left-side,
footer .right-side,
footer .footer-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .right-side {
    width: 60%;
    flex-wrap: wrap;
    gap: 30px;
}

footer .left-side {
    width: 30%;
}

.right-side .footer-item a,
.footer .left-side h2 {
    color: var(--gray);
}

footer .search form {
    margin: 20px 0;
}

@media screen and (max-width: 1107px) {
    footer .row {
        flex-direction: column;
        gap: 40px;
    }

    footer .left-side,
    footer .right-side {
        width: 100%;
        max-width: 100%;
    }

    footer .right-side {
        justify-content: flex-start;
    }
}